<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Job Offer</title>
    <span th:replace="~{home :: bootstrapImport}"></span>
</head>
<body>
<span th:replace="~{home :: navbar}"></span>
<div class="container mt-4">
    <h1 class="mb-4">New job offer</h1>
    <form th:action="@{/addJobOffer}" th:object="${joboffer}" method="post">
        <input th:field="*{id}" type="hidden">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" th:field="*{jobTitle}" class="form-control">
        </div>
        <div class="form-group">
            <label for="contract">Contract Type</label>
            <input type="text" id="contract" th:field="*{contractType}" class="form-control">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" th:field="*{description}" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary mt-4">Create offer</button>
    </form>
</div>
</body>
</html>